<!doctype html>
<html lang="en">
<head>
  {{>header.html.hbs}}

  <title>Rotate Mekorama Level</title>
</head>
<body>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{webroot}}/index.html">MekoQR</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{webroot}}/decode.html">Decode</a></li>
          <li class="active"><a href="#">Rotate</a></li>
          <li><a href="https://github.com/sbliven/mekoqr">Github</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container theme-showcase" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>Rotate Level</h1>
      <p class="lead">Rotate the thumbnail of a level</p>
    </div>
  </div>

  <div class="row">
    <div id="uploadwell" class="col-md-4 col-md-offset-4 text-center block-center well primary">
      <h1>Upload Image</h1>
      <input id="fileinput" type="file" accept="image/*" />
      <div><strong>Rotate (clockwise)</strong></div>

      <div id="rotationbtns" class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> 90 </input>
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" id="option2" autocomplete="off"> 180 </input>
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" id="option3" autocomplete="off"> 270 </input>
        </label>
      </div>

    </div>
  </div>

  <div id="results" class="row">
    <div class="col-sm-12 col-md-6 col-lg-3 col-lg-offset-3">
      <h3>Input</h3>
      <div id="image" >Waiting for upload...</div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <h3>Output</h3>
      <div id="outputQR"></div>
    </div>
  </div>


  {{>footerscripts.html.hbs}}
  <script src="{{webroot}}/js/rotate.js"></script>
  <script>
  var qrimage = null;
  function update() {
    var rotation = parseInt( $("#rotationbtns .active").text() );
    console.log("rotation=",rotation);
    uploadFile("{{webroot}}/rotate.png?rotation="+rotation/90,qrimage, $("#outputQR"));
  }

  $("#fileinput").change(function() {
    if(!this.files || this.files.length < 1) {
      qrimage = null;
      throw "No file given";
    }
    qrimage = this.files[0]
    try {
      previewImage(qrimage,$("#image"));
      $("#outputQR").empty().text("Parsing level...")
    } catch(e){
      var $err = $("<pre></pre>")
      .addClass("alert alert-danger")
      .text(e.message || e);
      $("#image").empty().append($err);
      $("#outputQR").empty();
      return;
    } finally {
      $("#results").show();
    }
    update();
  });
  $("#rotationbtns").change(function() {
    if(qrimage) {
      update();
    }
  });
  </script>
</body>
</html>
